div.c-touchmenu {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.c-touchmenu {
	background-color: floralwhite;
}

.c-touchmenu .touch-menu-button {
	text-align: center;
	cursor: pointer;
	border: 1px solid lightgray;
}
.c-touchmenu .touch-menu-button-caption {
	font-size: 12px;
	width: 100%;
	white-space: normal;
}
.c-touchmenu .touch-menu-button img.v-icon {
	vertical-align: middle;
}
