div.c-touchmenu {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Touch menu target
.c-touchmenu {
    background-color: linen;
}
*/

.c-touchmenu .touch-menu-button {
    text-align: center;
    cursor: pointer;
    border: 1px solid lightgray;
}

.c-touchmenu .touch-menu-button-caption {
    font-size: 12px;
    width: 100%;
    white-space: normal;
}

.c-touchmenu .touch-menu-button img.v-icon {
    vertical-align: middle;
}

.c-touchmenu button.left-navigation,
.c-touchmenu button.right-navigation,
.c-touchmenu button.up-navigation,
.c-touchmenu button.down-navigation {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

/* Hover button target
.c-touchmenu button.left-navigation:hover:enabled,
.c-touchmenu button.right-navigation:hover:enabled {
    background-color: lightgray;
}
*/

.c-touchmenu button.left-navigation:disabled,
.c-touchmenu button.right-navigation:disabled,
.c-touchmenu button.up-navigation:disabled,
.c-touchmenu button.down-navigation:disabled {
    opacity: 0.3;
}
.c-touchmenu button.left-navigation:focus,
.c-touchmenu button.right-navigation:focus{
    outline: none;
}

.c-touchmenu button.left-navigation {
    background-image: url(image/left-arrow.png);
}

.c-touchmenu button.right-navigation {
    background-image: url(image/right-arrow.png);
}

.c-touchmenu button.up-navigation {
    background-image: url(image/up-arrow.png);
}

.c-touchmenu button.down-navigation {
    background-image: url(image/down-arrow.png);
}
