div.c-touchmenu {
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.c-touchmenu {
	background-color: floralwhite;
}

.c-touchmenu .touch-menu-button img.v-icon {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}